<div class="container"> 
    <h1> Olá Mundo! </h1>
    <h4>Retorna uma lista de livros</h4>
    <blockquote><span class="badge badge-pill badge-secondary">GET</span> /books </blockquote>
    <h4>Retorna um livro especificado por ID</h4>
    <blockquote><span class="badge badge-pill badge-secondary">GET</span> /books/int:id </blockquote>
    <h4>Insere um livro especificado por ID</h4>
    <blockquote><span class="badge badge-pill badge-secondary">POST</span> /books/int:id </blockquote>
    <h4>Atualizar informações de um livro especificado por ID</h4>
    <blockquote><span class="badge badge-pill badge-secondary">PUT</span> /books/int:id </blockquote>
    <blockquote><span class="badge badge-pill badge-secondary">DELETE</span> /books/int:id </blockquote>
</div>