<!--
  Aqui estou utilizando o template base.html como estrutura geral das paginas
-->
{% extends 'base.html' %}   
{% block title %} Endpoints list {% endblock %}
{% block content %}
<div class="jumbotron"> 
    <h2> Veja aqui a lista de métodos aceitos! </h2>
    <hr class="my-1">
</div>

<dl class="row">
  <dt class="col-sm-3"><span class="badge badge-pill badge-info">GET</span> /books</dt>
  <dd class="col-sm-9">
    <p>Retorna uma lista de livros</p>
    <p>A consulta deve retornar algo como:</p>
    <code>{<br>
      "id": 2,<br>
      "autor": "J.K Howling",<br>
      "titulo": "Harry Potter e a Pedra Filosofal"<br>
  }</code>
  <hr class="my-1">
  </dd>

  <dt class="col-sm-3"><span class="badge badge-pill badge-info">GET</span> /books/int:id</dt>
  <dd class="col-sm-9">
    <p>Retorna um livro especificado por ID</p>
    <p>A consulta deve retornar algo como:</p>
    <code >{<br>
      "id": 2,<br>
      "autor": "J.K Howling",<br>
      "titulo": "Harry Potter e a Pedra Filosofal"<br>
  }</code>
    <hr class="my-1">
  </dd>

  <dt class="col-sm-3"><span class="badge badge-pill badge-secondary">POST</span> /books/int:id </dt>
  <dd class="col-sm-9">
    <p>Insere um livro especificado por ID (em desenvolvimento)</p>
    <p>Donec id elit non mi porta gravida at eget metus.</p>
    <hr class="my-1">
  </dd>

  <dt class="col-sm-3"><span class="badge badge-pill badge-dark">PUT</span> /books/int:id</dt>
  <dd class="col-sm-9">
    <p>Atualizar informações de um livro especificado por ID</p>
    <p>Donec id elit non mi porta gravida at eget metus.</p>
    <hr class="my-1">
  </dd>

  <dt class="col-sm-3 text-truncate"><span class="badge badge-pill badge-danger">DELETE</span> /books/int:id </dt>
  <dd class="col-sm-9">
    <p>Remover um livro especificado por ID</p>
    <p>Remover um livro especificado por ID</p>
    <hr class="my-1">
  </dd>
</dl>
{% endblock %}