<!--
  Aqui estou utilizando o template base.html como estrutura geral das paginas
-->
{% extends 'base.html' %}   
{% block title %} Welcome to API Book {% endblock %}
{% block content %}
      <div class="jumbotron container content">
        <h1 class="display-4">Bem vindo a API de Livros!</h1>
        <p class="lead">Esta API foi desenvolvida utilizando Python e Flask.</p>
        <hr class="my-1">
        <p class="lead">Deploy feito no Heroku utilizando GitHub Actions.</p>
        <!-- <a class="btn btn-primary btn-lg" href="https://www.heroku.com/" role="button">Leia mais</a> -->
        <hr class="my-1">
        <p class="lead">Pagina construída com HTML/CSS e Bootstrap.</p>
        <hr class="my-1">
        <a class="lead" href="{{url_for('endpoints')}}">Acesse aqui a lista de endpoints</a>
      </div>
{% endblock %}
